@charset "UTF-8";

/*Configurações gerais*/

*{
    margin: 0px;
    padding: 0px;

}
html,body{
    width: 100%;
    height: 100%;
    background-color:#233EFF ;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px #1a2dbe;
    padding: 10px;
}